{
  "plugins": [
    "mocha"
  ],

  "env": {
    "mocha": true
  },

  "globals": {
    "assert": false,
    "fetchMock": false,
    "Fetcher": false,
    "PathFetcher": false
  },

  "rules": {
    "max-nested-callbacks": 0,
    "mocha/no-exclusive-tests": "error"
  }
}
